#jinja2:lstrip_blocks: True
{# role 'routing-options' in Playbook einbauen, um diesen Teil der config zu generieren 
#}
routing-options {
    rib inet6.0 {
        static {
            route ::/0 next-hop {{ group.mgmt.v6_defaultgw }};
        }
    }
    static {
        route 0.0.0.0/0 next-hop {{ group.mgmt.v4_defaultgw }};
    }
}