{# This config is common to all Junos device types. For it to be generated 
   the 'common' role must be included in the platform specific play file. 
#}
{% block groups %}{% endblock %}
system {
    host-name {{ inventory_hostname }};
    domain-name {{ domain_name }};
    time-zone {{ time_zone }};
    no-redirects;
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "{{ root_password }}"; ## SECRET-DATA
    }
    name-server {
    {% for namesrv in name_servers %}
        {{ namesrv }};
    {% endfor %}
    }
    tacplus-server {
    {% for tacsrv in tacacs_servers %}
        {{ tacsrv.ip }} { 
            port 49;
            secret "{{ tacsrv.secret }}"; ## SECRET-DATA
            timeout 10;
            single-connection;
            source-address {{ host.mgmt.v4_addr }};
        }
    {% endfor %}
    }
    login {
        class rancid {
            permissions [ access admin firewall flow-tap interface network routing secret security snmp system trace view ];
        }
    {% for usr in users %}
        user {{ usr.name }} {
            uid {{ usr.uid }};
            class {{ usr.class }};
            {% if usr.passwd is defined %}
            authentication {
                encrypted-password "{{ usr.passwd }}"; ## SECRET-DATA
            }
            {% elif usr.ssh_key is defined %}
            authentication {
                ssh-rsa "{{ usr.ssh_key }}"; ## SECRET-DATA
            }
            {% endif %}
        }
    {% endfor %}
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 10;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
    {% for ntpsrv in ntp_servers %}
        server {{ ntpsrv }};
    {% endfor %}
    }
}
{% block chassis %}{% endblock %}
{% block interfaces %}{% endblock %}
snmp {
    location {{ host.snmp.location }};
    contact "{{ snmp_contact }}";
    community {{ snmp_community }} {
        authorization read-only;
    }
    trap-group default {
        categories {
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            rmon-alarm;
            vrrp-events;
            configuration;
        }
        targets {
        {% for snmpsrv in snmp_servers %}
            {{ snmpsrv }};
        {% endfor %}
        }
    }
}
{% block routing_options %}{% endblock %}
{% block protocols %}{% endblock %}
{% block access %}{% endblock %}
{% block ethernet_switching_options %}{% endblock %}
{% block vlans %}{% endblock %}
{% block policy_options %}{% endblock %}
{% block firewall %}{% endblock %}
{% block bridge_domains %}{% endblock %}
{% block poe %}{% endblock %}
