#jinja2:lstrip_blocks: True

{%- import 'templates/system.j2' as _system with context -%}
{%- import 'templates/chassis.j2' as _chassis with context -%}
{%- import 'templates/event-options.j2' as _event_options with context -%}
{%- import 'templates/interfaces.j2' as _interfaces with context -%}
{%- import 'templates/snmp.j2' as _snmp with context -%}
{%- import 'templates/forwarding-options.j2' as _forwarding_options with context -%}
{%- import 'templates/routing-options.j2' as _routing_options with context -%}
{%- import 'templates/protocols.j2' as _protocols with context -%}
{%- import 'templates/access.j2' as _access with context -%}
{%- import 'templates/virtual-chassis.j2' as _virtual_chassis with context -%}
{%- import 'templates/vlans.j2' as _vlans with context -%}
{%- import 'templates/poe.j2' as _poe with context -%}


{# config-template macros #}
{{ _system.junos_general() }}
{{ _chassis.junos_ex() }}
{{ _event_options.junos_general() }}
{{ _interfaces.junos_general() }}
{{ _snmp.junos_general() }}
{{ _forwarding_options.junos_general() }}
{{ _routing_options.junos_general() }}
{{ _protocols.junos_ex_access() }}
{{ _access.junos_general() }}
{{ _virtual_chassis.junos_general() }}
{{ _vlans.junos_general() }}
{{ _poe.junos_general() }}
