---
# Connection Parameters
ansible_connection: netconf
ansible_network_os: junos

# Temporary directories for building the device configs
base_dir: ~/ansible_tmp/{{ inventory_hostname }}
build_dir: '{{ base_dir }}/build'
junos_conf: '{{ build_dir }}/junos.conf'
compare_conf: '{{ base_dir }}/compare.conf'

# Silence warnings about the Python interpreter
ansible_python_interpreter: auto_silent
