#jinja2:lstrip_blocks: True
{# role 'interfaces' in Playbook einbauen, um diesen Teil der config zu generieren
#}
{# macro zum mergen der vlans #}
{% import 'helpers/macros.j2' as macros with context %}
{% set vlans_merged = ({}) %}
{{ macros.merge_vlans(group.vlan_areas, vlans_merged) }}
{# macro fuer interface unit config, verwendet in interfaces und interface ranges #}
{% macro int_unit(int) %}
    {% if int.desc is defined %}
        description "{{ int.desc }}";
    {% endif %}
    {% if int.disable is defined and int.disable == true %}
        disable;
    {% endif %}
    {% if int.mtu is defined %}
        mtu {{ int.mtu }};
    {% endif %}
    {% if int.etheroptions is defined %}
        ether-options {
        {% if int.etheroptions.no_autoneg is defined and int.etheroptions.no_autoneg == true %}
            no-auto-negotiation;
        {% endif %}
        {% if int.etheroptions.duplex is defined and int.etheroptions.duplex == 'full' %}
            link-mode full-duplex;
        {% elif int.etheroptions.duplex is defined and int.etheroptions.duplex == 'half' %}
            no-flow-control;
            link-mode half-duplex;
        {% endif %}
        {% if int.etheroptions.speed is defined %}
            speed {
                {{ int.etheroptions.speed }};
            }
        {% endif %}
        }
    {% endif %}
    {% if (int.mode is defined or
           int.vlan is defined or
           int.vlans is defined or
           int.vlan_areas is defined) %}
        unit 0 {
            family ethernet-switching {
            {% if int.mode is defined %}
                port-mode {{ int.mode }};
            {% endif %}
            {% if int.vlan is defined %}
                vlan {
                    members {% if int.vlan == 'all' %}all{% else %}{{ vlans_merged[int.vlan] }}{% endif %};
                }
            {% elif int.vlans is defined %}
                vlan {
                    members [ {% for vln in int.vlans %}{{ vlans_merged[vln] }} {% endfor %}];
                }
            {% elif int.vlan_areas is defined %}
            {% set int_vlans_merged = ({}) %}
            {{ macros.merge_vlans(int.vlan_areas, int_vlans_merged) }}
                vlan {
                    members [ {% for vlns in int_vlans_merged %}{{ int_vlans_merged[vlns] }} {% endfor %}];
                }
            {% endif %}
            {% if int.native is defined %}
                native-vlan-id {{ int.native }};
            {% endif %}
            }
        }
    {%- endif %}
{% endmacro %}
{# beginn der junos interface config #}
interfaces {
{% for _ifrange_ in if_ranges|sort %}
    {% set ifrange = if_ranges[_ifrange_] %}
    interface-range {{ _ifrange_ }} {
    {% if ifrange.member_ranges is defined %}
        {% for rng in ifrange.member_ranges %}
        member-range {{ rng }};
        {% endfor %}
    {% endif %}
    {% if ifrange.member_range is defined %}
        member-range {{ ifrange.member_range }};
    {% endif %}
    {% if ifrange.members is defined %}
        {% for intf in ifrange.members %}
        member {{ intf }};
        {% endfor %}
    {% endif %}
    {% if ifrange.member is defined %}
        member {{ ifrange.member }};
    {% endif %}
    {{ int_unit(ifrange) }}
    }
{% endfor %}
{% for _iface in interfaces %}
    {% set iface = interfaces[_iface] %}
    {{ _iface }} {
    {{ int_unit(iface) }}
    }
{% endfor %}
    me0 {
        unit 0 {
            description "{{ inventory_hostname }} local OOB Mgmt";
            family inet {
                address 169.254.1.1/16;
            }
            family inet6;
        }
    }
    vlan {
        unit {{ mgmt_shared.vlan }} {
            description "{{ inventory_hostname }} Mgmt";
            family inet {
                address {{ mgmt_host.v4_addr }}/24;
            }
            family inet6 {
                address {{ mgmt_host.v6_addr }}/64;
            }
        }
{% if vlan_units is defined %}
    {% for _unit in vlan_units %}
        {% set unit = vlan_units[_unit] %}
        unit {{ _unit }} {
        {% if unit.desc is defined %}
            description "{{ unit.desc }}";
        {% endif %}
        {% if unit.v4 is defined %}
            family inet {
            {% for _addr in unit.v4.addr %}
            {% set addr = unit.v4[_addr] %}
                address {{ _addr }};
            {% endfor %}
            }
        {% endif %}
        {% if unit.v6 is defined %}
            family inet6 {
            {% for _addr in unit.v6.addr %}
            {% set addr = unit.v6[_addr] %}
                address {{ _addr }};
            {% endfor %}
            }
        {% endif %}
        }
    {% endfor %}
{% endif %}
    }
}