#jinja2:lstrip_blocks: True
{# role 'vlans' in Playbook einbauen, um diesen Teil der config zu generieren 
#}
vlans {
{% for vln_id in vlans|sort %}
    {% set vln_name = vlans[vln_id] %}
    {{ vln_name }} {
        vlan-id {{ vln_id }};
        {% if vln_id == mgmt.vlan %}
        l3-interface vlan.{{ vln_id }};
        {% endif %}
    }
{% endfor %}
}