#jinja2:lstrip_blocks: True
{% extends "roles/common/templates/main.conf.j2" %}
{# Template fuer interne EX-spezifische config. Wird gemerged mit common
   config template (oben referenziert durch 'extends' "...").
#}
{% block chassis %}
chassis {
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }
}
{% endblock %}
{% block interfaces %}
interfaces {
{% for _ifrange_ in host.if_ranges|sort %}
    {% set ifrange = host.if_ranges[_ifrange_] %}
    interface-range {{ _ifrange_ }} {
    {% if ifrange.member_ranges is defined %}
        {% for rng in ifrange.member_ranges %}
        member-range {{ rng }};
        {% endfor %}
    {% endif %}
    {% if ifrange.member_range is defined %}
        member-range {{ ifrange.member_range }};
    {% endif %}
    {% if ifrange.members is defined %}
        {% for intf in ifrange.members %}
        member {{ intf }};
        {% endfor %}
    {% endif %}
    {% if ifrange.member is defined %}
        member {{ ifrange.member }};
    {% endif %}
    {% if (ifrange.mode is defined or ifrange.vlan is defined or ifrange.vlans is defined) %}
        unit 0 {
            family ethernet-switching {
            {% if ifrange.mode is defined %}
                port-mode {{ ifrange.mode }};
            {% endif %}
            {% if ifrange.vlan is defined %}
                vlan {
                    members {% if ifrange.vlan == 'all' %}all{% else %}{{ vlans[ifrange.vlan] }}{% endif %};
                }
            {% elif ifrange.vlans is defined %}
                vlan {
                    members [ {% for vln in ifrange.vlans %}{{ vlans[vln] }} {% endfor %}];
                }
            {% endif %}
            {% if ifrange.native is defined %}
                native-vlan-id {{ ifrange.native }};
            {% endif %}
            }
        }
    {% endif %}
    }
{% endfor %}
{% for _iface in host.interfaces %}
    {% set iface = host.interfaces[_iface] %}
    {{ _iface }} {
    {% if iface.desc is defined %}
        description "{{ iface.desc }}";
    {% endif %}
    {% if iface.mtu is defined %}
        mtu {{ iface.mtu }};
    {% endif %}
    {% if iface.etheroptions is defined %}
        ether-options {
        {% if iface.etheroptions.no_auto == true %}
            no-auto-negotiation;
        {% endif %}
        {% if iface.etheroptions.half_duplex == true %}
            link-mode full-duplex;
        {% endif %}
        {% if iface.etheroptions.speed is defined %}
            speed {
                {{ iface.etheroptions.speed }};
            }
        {% endif %}
        }
    {% endif %}
    {% if (iface.vlan is defined or iface.vlans is defined) %}
        unit 0 {
            family ethernet-switching {
            {% if iface.mode is defined %}
                port-mode {{ iface.mode }};
            {% endif %}
            {% if iface.vlan is defined %}
                vlan {
                    members {% if iface.vlan == 'all' %}all{% else %}{{ vlans[iface.vlan] }}{% endif %};
                }
            {% elif iface.vlans is defined %}
                vlan {
                    members [ {% for vln in iface.vlans %}{{ vlans[vln] }} {% endfor %}];
                }
            {% endif %}
            {% if iface.native is defined %}
                native-vlan-id {{ iface.native }};
            {% endif %}
            }
        }
    {% endif %}
    }
{% endfor %}
    me0 {
        unit 0 {
            description "{{ inventory_hostname }} local OOB Mgmt";
            family inet {
                address 169.254.1.1/16;
            }
            family inet6;
        }
    }
    vlan {
        unit {{ host.mgmt.vlan }} {
            description "{{ inventory_hostname }} Mgmt";
            family inet {
                address {{ host.mgmt.v4_addr }}/24;
            }
            family inet6 {
                address {{ host.mgmt.v6_addr }}/64;
            }
        }
    }
}
{% endblock %}
{% block routing_options %}
routing-options {
    rib inet6.0 {
        static {
            route ::/0 next-hop {{ host.mgmt.v6_defaultgw }};
        }
    }
    static {
        route 0.0.0.0/0 next-hop {{ host.mgmt.v4_defaultgw }};
    }
}
{% endblock %}
{% block protocols %}
protocols {
    igmp-snooping {
        vlan all;
    }
{% if host.dot1x == true %}
    dot1x {
        authenticator {
            authentication-profile-name PNAC1;
            interface {
                access-dot1x {
                    supplicant multiple;
                    guest-vlan VL1900_Service-Support;
                    server-reject-vlan VL1900_Service-Support;
                    server-fail use-cache;
                }
            }
        }
    }
{% endif %}
    mstp {
        configuration-name interes-netz-2015;
        revision-level 1;
        bridge-priority {{ host.mstp.bridge_prio }};
    {% for _iface in host.interfaces %}
        {% set iface = host.interfaces[_iface] %}
        {% if (iface.mstp is defined and iface.mstp == 'disable') %}
        interface {{ _iface }}.0 {
            disable;
        }
        {% endif %}
    {% endfor %}
        interface access-ports {
            edge;
        }
        interface uplinks {
            bpdu-timeout-action {
                block;
            }
        }
        interface xlinks {
            bpdu-timeout-action {
                block;
            }
        }
        msti 1 {
            bridge-priority {{ host.mstp.bridge_prio }};
            vlan 1300-2399;
        }
        msti 2 {
            bridge-priority {{ host.mstp.bridge_prio }};
            vlan 2400-3399;
        }
        msti 3 {
            bridge-priority {{ host.mstp.bridge_prio }};
            vlan 3400-4094;
        }
        bpdu-block-on-edge;
    }
    lldp {
        interface uplinks;
        interface xlinks;
    }
    lldp-med {
        interface access-ports;
    }
}
{% endblock %}
{% block access %}{% if host.dot1x == true %}
access {
    radius-server {
    {% for radiussrv in radius_servers %}
        {{ radiussrv.ip }} secret "{{ radiussrv.secret }}"; ## SECRET-DATA
    {% endfor %}
    }
    profile PNAC1 {
        authentication-order radius;
        radius {
            authentication-server {% if radius_servers|length < 2 %}{{ radius_servers[0].ip }};
            {% else %}[ {% for radiussrv in radius_servers %}{{ radiussrv.ip }} {% endfor %}];
            {% endif %}
        }
    }
}
{% endif %}{% endblock %}
{% block ethernet_switching_options %}
ethernet-switching-options {
    storm-control {
        interface all;
    }
{% for _iface in host.interfaces %}
    {% set iface = host.interfaces[_iface] %}
    {% if (iface.mstp is defined and iface.mstp == 'disable') %}
    bpdu-block {
        interface {{ _iface }}.0 {
            drop;
        }
    }
    {% endif %}
{% endfor %}
}
{% endblock %}
{% block vlans %}
vlans {
{% for _vln in vlans|sort %}
    {% set vln = vlans[_vln] %}
    {{ vln }} {
        vlan-id {{ _vln }};
        {% if _vln == host.mgmt.vlan %}
        l3-interface vlan.{{ _vln }};
        {% endif %}
    }
{% endfor %}
}
{% endblock%}
{% block poe %}
poe {
    interface all;
}
{% endblock %}
