#jinja2:lstrip_blocks: True
{% extends "roles/common/templates/main.conf.j2" %}
{# Template fuer interne EX-spezifische config. Wird gemerged mit common
   config template (oben referenziert durch 'extends' "...").
#}
{% block chassis %}
chassis {
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }
}
{% endblock %}
{% block interfaces %}
interfaces {
{% for ifrange in host.if_ranges %}
    interface-range {{ ifrange.name }} {
    {% if ifrange.member_range is defined %}{% for rng in ifrange.member_range %}
        member-range {{ rng }};
    {% endfor %}{% endif %}
    {% if ifrange.member is defined %}{% for intf in ifrange.member %}
        member {{ intf }};
    {% endfor %}{% endif %}
    {% if (ifrange.mode is defined or ifrange.vlan is defined) %}
        unit 0 {
            family ethernet-switching {
            {% if ifrange.mode is defined %}
                port-mode {{ ifrange.mode }};
            {% endif %}
            {% if ifrange.vlan is defined %}
                vlan {
                    members {% if ifrange.vlan|length < 2 %}{{ ifrange.vlan[0] }};
                    {% else %}[ {% for vln in ifrange.vlan %}{{ vln }} {% endfor %}];
                    {% endif %}
                }
            {% endif %}
            }
        }
    {% endif %}
    }
{% endfor %}
{% for iface in host.interfaces %}
    {{ iface.name }} {
    {% if iface.desc is defined %}
        description "{{ iface.desc }}";
    {% endif %}
    {% if iface.vlan is defined %}
        unit 0 {
            family ethernet-switching {
                vlan {
                    members {% if iface.vlan|length < 2 %}{{ iface.vlan[0] }};
                    {% else %}[ {% for vln in iface.vlan %}{{ vln }} {% endfor %}];
                    {% endif %}
                }
            }
        }
    {% endif %}
    }
{% endfor %}
    me0 {
        unit 0 {
            description "Emergency OOB Mgmt";
            family inet {
                address 169.254.1.1/16;
            }
            family inet6;
        }
    }
    vlan {
        unit {{ host.mgmt.vlan }} {
            description "{{ inventory_hostname }} Mgmt";
            family inet {
                address {{ host.mgmt.v4_addr }}/24;
            }
            family inet6 {
                address {{ host.mgmt.v6_addr }}/64;
            }
        }
    }
}
{% endblock %}
{% block routing_options %}
routing-options {
    rib inet6.0 {
        static {
            route ::/0 next-hop {{ host.mgmt.v6_defaultgw }};
        }
    }
    static {
        route 0.0.0.0/0 next-hop {{ host.mgmt.v4_defaultgw }};
    }
}
{% endblock %}
{% block protocols %}
protocols {
    igmp-snooping {
        vlan all;
    }
    dot1x {
        authenticator {
            authentication-profile-name PNAC1;
            interface {
                access-dot1x {
                    supplicant multiple;
                    guest-vlan VL1900_Service-Support;
                    server-reject-vlan VL1900_Service-Support;
                    server-fail use-cache;
                }
            }
        }
    }
    mstp {
        configuration-name interes-netz-2015;
        revision-level 1;
        bridge-priority 32k;
        interface access-ports {
            edge;
        }
        interface uplinks {
            bpdu-timeout-action {
                block;
            }
        }
        interface xlinks {
            bpdu-timeout-action {
                block;
            }
        }
        msti 1 {
            bridge-priority 32k;
            vlan 1300-2399;
        }
        msti 2 {
            bridge-priority 32k;
            vlan 2400-3399;
        }
        msti 3 {
            bridge-priority 32k;
            vlan 3400-4094;
        }
        bpdu-block-on-edge;
    }
    lldp {
        interface uplinks;
        interface xlinks;
    }
    lldp-med {
        interface access-ports;
    }
}
{% endblock %}
{% block access %}
access {
    radius-server {
    {% for radiussrv in radius_servers %}
        {{ radiussrv.ip }} secret "{{ radiussrv.secret }}"; ## SECRET-DATA
    {% endfor %}
    }
    profile PNAC1 {
        authentication-order radius;
        radius {
            authentication-server {% if radius_servers|length < 2 %}{{ radius_servers[0].ip }};
            {% else %}[ {% for radiussrv in radius_servers %}{{ radiussrv.ip }} {% endfor %}];
            {% endif %}
        }
    }
}
{% endblock %}
{% block ethernet_switching_options %}
ethernet-switching-options {
    storm-control {
        interface all;
    }
}
{% endblock %}
{% block vlans %}
vlans {
{% for vln in (area.vlans|list + multiple.vlans|list)|sort %}
    {{ vln.name }} {
        vlan-id {{ vln.id }};
        {% if vln.id == host.mgmt.vlan %}
        l3-interface vlan.{{ vln.id }};
        {% endif %}
    }
{% endfor %}
}
{% endblock%}
{% block poe %}
poe {
    interface all;
}
{% endblock %}
