#jinja2:lstrip_blocks: True
{# role 'chassis' in Playbook einbauen, um diesen Teil der config zu generieren 
#}
chassis {
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }
}