{# event-options config template macro #}

{% macro junos_general() -%}

event-options {
    policy auto-commit-or-rollback-after-confirmed {
        events ui_commit_confirmed_reminder;
        then {
            event-script auto-commit-or-rollback.slax;
        }
    }
    event-script {
        file auto-commit-or-rollback.slax;
    }
}

{%- endmacro %}
