{# event-options config template macro #}

{#
    For the referenced event script see
    https://github.com/haeringer/junos-on-box
#}


{% macro junos_general() -%}

{% if skip_event_options is defined and skip_event_options == true %}
{% else %}

event-options {
    policy auto-commit-or-rollback-after-confirmed {
        events ui_commit_confirmed_reminder;
        then {
            event-script auto-commit-or-rollback.slax;
        }
    }
    event-script {
        file auto-commit-or-rollback.slax;
    }
}

{% endif %}

{%- endmacro %}
