{# ethernet_switching_options / forwarding_options (ELS) config template macro #}

{% macro junos_general() -%}

{% if junos_els is defined and junos_els == true %}
forwarding-options {
    storm-control-profiles standard {
        all;
    }
}
{% else %}
ethernet-switching-options {
    storm-control {
        interface all;
    }
    {% for _iface in interfaces %}
    {% set iface = interfaces[_iface] %}
        {% if (iface.stp is defined and iface.stp == 'disable') %}
    bpdu-block {
        interface {{ _iface }}.0 {
            drop;
        }
    }
        {% endif %}
    {% endfor %}
}
{% endif %}

{%- endmacro %}
