{# policy-options config template macro #}

{% macro junos_general() -%}
policy-options {
{% if policy_options.prefix_lists is defined %}
    {% for list in policy_options.prefix_lists %}
    prefix-list {{ list.name }} {
        {% for prefix in list.prefixes %}
        {{ prefix }};
        {% endfor %}
    }
    {% endfor %}
{% endif %}
}
{%- endmacro %}
