{# protocols config template macro ex core #}

{% macro junos_ex_core() -%}

protocols {
    rstp {
        bridge-priority {{ rstp.bridge_prio }};
    {% for _iface in interfaces %}
    {% set iface = interfaces[_iface] %}
        {% if (iface.stp is defined and iface.stp == 'disable') %}
        interface {{ _iface }}.0 {
            disable;
        }
        {% endif %}
    {% endfor %}
    {% set ae_switchlinks = ae_ranges.get('switch-links') %}
    {% if ae_switchlinks %}
        {% for ae in ae_switchlinks.members %}
        interface {{ ae }} {
            bpdu-timeout-action {
                block;
            }
        }
        {% endfor %}
    {% endif %}
        interface switch-links {
            bpdu-timeout-action {
                block;
            }
        }
        bpdu-block-on-edge;
    }
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
}
{%- endmacro %}


{# protocols config template macro ex access #}

{% macro junos_ex_access() -%}

protocols {
    igmp-snooping {
        vlan all;
    }
    {% if dot1x is defined and dot1x == true %}
    dot1x {
        authenticator {
            authentication-profile-name PNAC1;
            interface {
                access-dot1x {
                    supplicant multiple;
                    guest-vlan VL4003_Purpose4003_Loc-all;
                    server-reject-vlan VL4003_Purpose4003_Loc-all;
                    server-fail use-cache;
                }
            }
        }
    }
    {% endif %}
    rstp {
        bridge-priority {{ rstp.bridge_prio }};
    {% for _iface in interfaces %}
    {% set iface = interfaces[_iface] %}
        {% if (iface.stp is defined and iface.stp == 'disable') %}
        interface {{ _iface }}.0 {
            disable;
        }
        {% endif %}
    {% endfor %}
        interface access-ports {
            edge;
        }
    {% set ae_switchlinks = ae_ranges.get('switch-links') %}
    {% if ae_switchlinks %}
        {% if ae_switchlinks.members is string %}
        interface {{ ae_switchlinks.members }} {
            bpdu-timeout-action {
                block;
            }
        }
        {% elif ae_switchlinks.members is sequence %}
            {% for ae in ae_switchlinks.members %}
        interface {{ ae }} {
            bpdu-timeout-action {
                block;
            }
        }
            {% endfor %}
        {% endif %}
    {% endif %}
    {% set if_switchlinks = if_ranges.get('switch-links') %}
    {% if if_switchlinks %}
        interface switchlinks {
            bpdu-timeout-action {
                block;
            }
        }
    {% endif %}
        bpdu-block-on-edge;
    }
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface access-ports;
    }
}
{%- endmacro %}
