{# protocols config template macro ex intern access #}

{% macro junos_ex_ia() -%}
protocols {
    igmp-snooping {
        vlan all;
    }
    {% if dot1x is defined and dot1x == true %}
    dot1x {
        authenticator {
            authentication-profile-name PNAC1;
            interface {
                access-dot1x {
                    supplicant multiple;
                    guest-vlan VL1900_Service-Support;
                    server-reject-vlan VL1900_Service-Support;
                    server-fail use-cache;
                }
            }
        }
    }
    {% endif %}
    mstp {
        configuration-name interes-netz-2015;
        revision-level 1;
        bridge-priority {{ mstp.bridge_prio }};
    {% for _iface in interfaces %}
        {% set iface = interfaces[_iface] %}
        {% if (iface.mstp is defined and iface.mstp == 'disable') %}
        interface {{ _iface }}.0 {
            disable;
        }
        {% endif %}
    {% endfor %}
        interface access-ports {
            edge;
        }
        interface switch-links {
            bpdu-timeout-action {
                block;
            }
        }
        msti 1 {
            bridge-priority {{ mstp.bridge_prio }};
            vlan 1300-2399;
        }
        msti 2 {
            bridge-priority {{ mstp.bridge_prio }};
            vlan 2400-3399;
        }
        msti 3 {
            bridge-priority {{ mstp.bridge_prio }};
            vlan 3400-4094;
        }
        bpdu-block-on-edge;
    }
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface access-ports;
    }
}
{%- endmacro %}

{# protocols config template macro ex intern core #}

{% macro junos_ex_ic() -%}
protocols {
    mstp {
        configuration-name interes-netz-2015;
        revision-level 1;
        bridge-priority {{ mstp.bridge_prio }};
    {% for _iface in interfaces %}
        {% set iface = interfaces[_iface] %}
        {% if (iface.mstp is defined and iface.mstp == 'disable') %}
        interface {{ _iface }}.0 {
            disable;
        }
        {% endif %}
    {% endfor %}
        interface downlinks {
            no-root-port;
        }
        interface xlinks {
            bpdu-timeout-action {
                block;
            }
        }
        msti 1 {
            bridge-priority {{ mstp.msti_1_prio }};
            vlan 1300-2399;
        }
        msti 2 {
            bridge-priority {{ mstp.msti_2_prio }};
            vlan 2400-3399;
        }
        msti 3 {
            bridge-priority {{ mstp.msti_3_prio }};
            vlan 3400-4094;
        }
        bpdu-block-on-edge;
    }
    lldp {
        port-id-subtype interface-name;
        interface downlinks;
        interface xlinks;
    }
    {% if export_sflow is defined %}
    sflow {
        agent-id {{ mgmt_ip }};
        polling-interval {{ sflow.polling_interval }};
        sample-rate {
            ingress {{ sflow.sampling_rate }};
            egress {{ sflow.sampling_rate }};
        }
        source-ip {{ mgmt_ip }};
        collector {{ sflow.collector_ip }} {
            udp-port {{ export_sflow.collector_port }};
        }
        {% for _iface in interfaces %}
        {% set iface = interfaces[_iface] %}
            {% if (iface.sflow is defined and iface.sflow == true) %}
        interfaces {{ _iface }}.0;
            {% endif %}
        {% endfor %}
    }
    {% endif %}
}
{%- endmacro %}

{# protocols config template macro ex extern #}

{% macro junos_ex_ea() -%}
mstp {
    configuration-name exampleorg-l2core;
    max-hops 128;
    max-age 20;
    hello-time 2;
    forward-delay 15;
    inactive: traceoptions {
        file mstp-debug;
        flag all;
    }
    bridge-priority 16k;
    interface ge-0/0/0.0 {
        disable;
    }
    [...]
    interface ge-0/0/13.0 {
        disable;
    }
    interface ge-0/0/21.0 {
        bpdu-timeout-action {
            block;
            log;
        }
    }
    interface xe-0/1/1.0 {
        mode point-to-point;
        bpdu-timeout-action {
            block;
            log;
        }
    }
    interface ge-1/0/0.0 {
        disable;
        edge;
    }
    interface ge-1/0/1.0 {
        disable;
    }
    [...]
    interface ge-2/0/23.0 {
        disable;
    }
    interface xe-2/1/0.0 {
        mode point-to-point;
        bpdu-timeout-action {
            block;
            log;
        }
    }
    interface ge-3/0/0.0 {
        disable;
    }
    [...]
    interface ge-4/0/21.0 {
        disable;
    }
    interface ge-5/0/0.0 {
        disable;
    }
    interface ae0.0 {
        mode point-to-point;
        bpdu-timeout-action {
            block;
            log;
        }
    }
    interface ae1.0 {
        disable;
    }
    interface ae2.0 {
        disable;
    }
    interface all {
        edge;
    }
    interface wolken-uplinks {
        disable;
    }
    msti 1 {
        bridge-priority 32k;
        vlan 3000-3049;
    }
    msti 2 {
        bridge-priority 32k;
        vlan 3050-3099;
    }
    msti 3 {
        bridge-priority 32k;
        vlan [ 2-1500 3100-3600 ];
    }
    msti 4 {
        bridge-priority 32k;
        vlan [ 1501-2999 3601-4094 ];
    }
    bpdu-block-on-edge;
}
lldp {
    interface xe-0/1/1.0;
    interface xe-0/1/0.0;
    [...]
    interface ge-0/0/4.0;
    interface ge-0/0/9.0;
}
{%- endmacro %}
