{# routing-options config template macro #}

{% macro junos_general() -%}
routing-options {
    rib inet6.0 {
        static {
            route ::/0 next-hop {{ routing.v6_defaultgw }};
        }
    }
    static {
        route 0.0.0.0/0 next-hop {{ routing.v4_defaultgw }};
    }
}
{%- endmacro %}
