{# snmp config template macro #}

{% macro junos_general() -%}
snmp {
    location "{{ location }}";
    contact "{{ snmp.contact }}";
    {% if snmp_clients is defined %}
    client-list exampleorg-Monitoring {
        {% for client in snmp_clients %}
        {{ client }};
        {% endfor %}
    }
    {% endif %}
    community {{ snmp.community }} {
        authorization read-only;
    {% if snmp_clients is defined %}
        client-list-name exampleorg-Monitoring;
    {% endif %}
    }
    trap-group default {
        categories {
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            rmon-alarm;
            vrrp-events;
            configuration;
    {% if device_type is defined and device_type == 'srx' %}
            chassis-cluster;
    {% endif %}
        }
        targets {
    {% for snmpsrv in snmp.servers %}
            {{ snmpsrv }};
    {% endfor %}
        }
    }
}
{%- endmacro %}
