{# system config template macro #}

{% macro junos_general() -%}
/* Config generiert durch Ansible */
system {
    host-name {{ inventory_hostname }};
    {% if junos_els is defined and junos_els == true %}
    auto-snapshot;
    {% endif %}
    domain-name {{ domain_name }};
    time-zone {{ time_zone }};
    no-redirects;
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "{{ root_password }}"; ## SECRET-DATA
    }
    name-server {
    {% for namesrv in dns.servers %}
        {{ namesrv }};
    {% endfor %}
    }
    tacplus-server {
    {% for tacsrv in tacacs.servers %}
        {{ tacsrv.ip }} {
            port 49;
            secret "{{ tacsrv.secret }}"; ## SECRET-DATA
            timeout 10;
            single-connection;
        }
    {% endfor %}
    }
    login {
		announcement "\n\t####   SYSTEM CONFIG GENERIERT DURCH ANSIBLE   ####\n\n\tInfos zur Konfiguration:\n\thttps://wiki.intern.example.com/x/coAhAQ\n\n\n";
	{% for cls in classes %}
        class {{ cls.name }} {
            permissions [ {% for p in cls.permissions %}{{ p }} {% endfor %}];
        }
    {% endfor %}
    {% for usr in users %}
        user {{ usr.name }} {
            class {{ usr.class }};
            {% if usr.passwd is defined %}
            authentication {
                encrypted-password "{{ usr.passwd }}"; ## SECRET-DATA
            }
            {% elif usr.ssh_key is defined %}
            authentication {
                ssh-rsa "{{ usr.ssh_key }}"; ## SECRET-DATA
            }
            {% endif %}
        }
    {% endfor %}
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 10;
        }
    {% if xnm is defined %}
        {% if xnm == 'clear-text' %}
        xnm-clear-text;
        {% endif %}
    {% endif %}
        netconf {
            ssh;
        }
    {% if dhcp is defined %}
        dhcp {
        {% for pool_name in dhcp.pools %}
        {% set pool = dhcp.pools[pool_name] %}
            pool {{ pool_name }} {
                address-range low {{ pool.range[0] }} high {{ pool.range[1] }};
            {% if pool.lease_time is defined and pool.lease_time == 'infinite' %}
                maximum-lease-time infinite;
                default-lease-time infinite;
            {% else %}
                maximum-lease-time 432000;
                default-lease-time 86400;
            {% endif %}
                name-server {
                    194.29.226.55;
                    194.29.230.55;
                }
                router {
                    {{ pool.router }};
                }
                propagate-settings {{ pool.interface }};
            }
            {% if pool.static_bindings is defined %}
                {% for binding in pool.static_bindings %}
            static-binding {{ binding[0] }} {
                fixed-address {
                    {{ binding[1] }};
                }
            }
                {% endfor %}
            {% endif %}
        {% endfor %}
        }
    {% endif %}
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    {% if virtualchassis is defined %}
    commit synchronize;
    {% endif %}
    ntp {
    {% for ntpsrv in ntp.servers %}
        server {{ ntpsrv }};
    {% endfor %}
    }
}
{%- endmacro %}
